.about_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 40px;
    margin: 0 auto;
    max-width: 700px; 
}

.about_instruction {
    min-width: 280px;
    max-width: 500px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    background: -o-radial-gradient(50% 50%,50% 50%,#374529 0,#0f140a 100%);
    background: radial-gradient(50% 50% at 50% 50%,#374529 0,#0f140a 100%);
    line-height: 120%;
}

.about_instruction p {
    margin-bottom: 10px;
}

.about_instruction a {
    border-bottom: 1px solid #374529;
}

.about_instruction a:hover {
    border: 1px solid #374529;
}