.bird_container {
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.bird_wrap {
    min-width: 300px;
    max-width: 700px;
    height: 288px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    background: -o-radial-gradient(50% 50%,50% 50%,#374529 0,#0f140a 100%);
    background: radial-gradient(50% 50% at 50% 50%,#374529 0,#0f140a 100%);
    border-radius: 5px;
}

.bird_btn_wrapper {
    top: -480px;
    position: relative;
    z-index: 100;
    min-width: 300px;
    max-width: 700px;
    height: 86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: center;
}

.bird_btn {
    font-size: 13px;
    width: 130px;
    text-align: center;
	display: inline-block;
    margin: 20px 0;
    font-weight: 600;
    padding: 10px 20px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
	border-radius: 7px;
    -webkit-box-shadow: 0 .2em gray;
            box-shadow: 0 .2em gray; 
}

.bird_btn:active {
    -webkit-box-shadow: none;
            box-shadow: none;
	position: relative;
	top: .2em;
}

.dino_btn_start_visible {
    display: none;
}

.bird_timer {
    padding: 15px 20px 10px 5px;
    width: 130px;
    font-size: 13px;
    font-weight: 600;
    margin: 19px 0;
    background: #fff;
    border-radius: 5px;   
    margin-left: 10px;
    background: -o-radial-gradient(50% 50%,50% 50%,#374529 0,#0f140a 100%);
    background: radial-gradient(50% 50% at 50% 50%,#374529 0,#0f140a 100%);
}

.bird {
    width: 30px;
    height: 20px;
    /* background-image: url(./image/bird.png); */
    background-image: url(./image/charizard.png);
    -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
            transform: scale(-1, 1);
    background-size:cover;
    position: relative;
    top: 60px;
    left: 80px;
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
}

.pipeUp {
    background-image: url(./image/pipeUp.png);
    width: 30px;
    height: 140px;
    background-size:cover;
    position: relative;
    left: 90%;
    top: -79px;
}

.pipeBottom {
    background-image: url(./image/pipeBottom.png);
    width: 30px;
    height: 100px;
    background-size:cover;
    position: relative;
    left: 90%;
    bottom: 30px;
}

.fg_top {
    /* background-image: url(./image/fg.png); */
    background: -o-radial-gradient(50% 50%,50% 50%,#374529 0,#0f140a 100%);
    background: radial-gradient(50% 50% at 50% 50%,#374529 0,#0f140a 100%);
    background-size:cover;
    position: relative;
    z-index: 1;
    min-width: 300px;
    max-width: 700px;
    height: 80px;
    top: -320px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    border-top: 7px solid black;
    border-radius: 5px;
}

.fg_bottom {
    /* background-image: url(./image/fg.png); */
    background: -o-radial-gradient(50% 50%,50% 50%,#374529 0,#0f140a 100%);
    background: radial-gradient(50% 50% at 50% 50%,#374529 0,#0f140a 100%);
    background-size:cover;
    position: relative;
    z-index: 1;
    min-width: 300px;
    max-width: 700px;
    height: 80px;
    top: -115px;
    border-top: 7px solid black;
    border-radius: 5px;
}

.bird_instruction {
    min-width: 300px;
    max-width: 500px;
    min-height: 80px;
    margin: 20px auto;
    padding-top: 5px;
    background-color: #fff;
    border-radius: 5px;
    background: -o-radial-gradient(50% 50%,50% 50%,#374529 0,#0f140a 100%);
    background: radial-gradient(50% 50% at 50% 50%,#374529 0,#0f140a 100%);
    z-index: 1000;
}

.bird_instruction_list {
    margin-left: 40px;
    margin-top: 5px;
}

.bird_instruction_list_item {
    font-size: 15px;
    font-weight: 500;
}

.BirdRecords_container {
    min-width: 300px;
    max-width: 500px;
    min-height: 70px;
    margin: 20px auto;
    padding-top: 5px;
    background-color: #fff;
    border-radius: 5px;
    background: -o-radial-gradient(50% 50%,50% 50%,#374529 0,#0f140a 100%);
    background: radial-gradient(50% 50% at 50% 50%,#374529 0,#0f140a 100%);
}

.BirdRecords_list {
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
}

.BirdRecords_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
}