.header_nav {
    background: -o-radial-gradient(50% 50%,50% 50%,#374529 0,#0f140a 100%);
    background: radial-gradient(50% 50% at 50% 50%,#374529 0,#0f140a 100%);
    padding: 20px 0;
}

.header_nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 700px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 10px;
}

@media screen and (max-width: 500px) {
    .header_nav_list {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        gap: 10px;
    }
}

.btn_connect_wallet {
    font-size: Min(20px, 4vw);
    text-align: center;
	display: inline-block;
    font-weight: 600;
    padding: 7px 20px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
	border-radius: 7px;
    -webkit-box-shadow: 0 .2em gray;
            box-shadow: 0 .2em gray;
}

.btn_connect_wallet:active {
    -webkit-box-shadow: none;
            box-shadow: none;
	position: relative;
	top: .2em;
}