.Dino_wrap {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.dino_container {
    min-width: 300px;
    max-width: 700px;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
    background: -o-radial-gradient(50% 50%,50% 50%,#374529 0,#0f140a 100%);
    background: radial-gradient(50% 50% at 50% 50%,#374529 0,#0f140a 100%);
    border-radius: 5px;
}

.game_base {
    min-width: 300px;
    max-width: 700px;
    height: 180px;
    border-bottom: 3px solid black;
}

.dino {
    width: 50px;
    height: 50px;
    background-image: url(./image/charmander2.png);
    -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
            transform: scale(-1, 1);
    background-size: cover;
    position: relative;
    top: 45px;
    left: 5px;
}

.spike {
    width: 30px;
    height: 30px;
    background-image: url(./image/pokeball.png);
    background-size: 30px 30px;
    position:relative;
    top: 13px;
    left: 90%;
}

.spike1 {
    background-image: url(./image/pokeball.png);
}

.spike2 {
    background-image: url(./image/pokemon2.png);
}

.spike3 {
    background-image: url(./image/pokemon1.png);
}

.dinoJump {
    -webkit-animation: dinoJump 0.35s linear;
            animation: dinoJump 0.35s linear;
}


@-webkit-keyframes dinoJump {
    0% {
        top: 45px;
    }
    30% {
        top: 18px;
    }
    50% {
        top: 0px;
    }
    80% {
        top: 28px;
    }
    100% {
        top: 45px;
    }
}


@keyframes dinoJump {
    0% {
        top: 45px;
    }
    30% {
        top: 18px;
    }
    50% {
        top: 0px;
    }
    80% {
        top: 28px;
    }
    100% {
        top: 45px;
    }
}

.dino_btn_wrapper {
    min-width: 300px;
    max-width: 700px;
    height: 86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: center;
}

.dino_btn {
    font-size: 13px;
    width: 130px;
    text-align: center;
	display: inline-block;
    margin: 20px 0;
    font-weight: 600;
    padding: 10px 20px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
	border-radius: 7px;
    -webkit-box-shadow: 0 .2em gray;
            box-shadow: 0 .2em gray; 
}

.dino_btn:active {
    -webkit-box-shadow: none;
            box-shadow: none;
	position: relative;
	top: .2em;
}

.dino_btn_start_visible {
    display: none;
}

.dino_timer {
    padding: 15px 20px 10px 5px;
    width: 130px;
    font-size: 13px;
    font-weight: 600;
    margin: 18px 0;
    background: #fff;
    border-radius: 5px;   
    margin-left: 10px;
    background: -o-radial-gradient(50% 50%,50% 50%,#374529 0,#0f140a 100%);
    background: radial-gradient(50% 50% at 50% 50%,#374529 0,#0f140a 100%);
}

.dino_instruction {
    min-width: 300px;
    max-width: 500px;
    min-height: 80px;
    margin: 20px auto;
    padding-top: 5px;
    background-color: #fff;
    border-radius: 5px;
    background: -o-radial-gradient(50% 50%,50% 50%,#374529 0,#0f140a 100%);
    background: radial-gradient(50% 50% at 50% 50%,#374529 0,#0f140a 100%);
}

.dino_instruction_list {
    margin-left: 40px;
    margin-top: 5px;
}

.dino_instruction_list_item {
    font-size: 15px;
    font-weight: 500;
}

.DinoRecords_container {
    min-width: 300px;
    max-width: 500px;
    min-height: 70px;
    margin: 20px auto;
    padding-top: 5px;
    background-color: #fff;
    border-radius: 5px;
    background: -o-radial-gradient(50% 50%,50% 50%,#374529 0,#0f140a 100%);
    background: radial-gradient(50% 50% at 50% 50%,#374529 0,#0f140a 100%);
}

.DinoRecords_list {
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
}

.DinoRecords_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
}