.Dodge_wrap {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.dodge_container {
    min-width: 300px;
    max-width: 700px;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
    background: -o-radial-gradient(50% 50%,50% 50%,#374529 0,#0f140a 100%);
    background: radial-gradient(50% 50% at 50% 50%,#374529 0,#0f140a 100%);
    border-radius: 5px;
    padding-top: 20px;
}

.dodge_game_base {
    min-width: 300px;
    max-width: 700px;
    height: 160px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.squirtle {
    background-image: url(./image/squirtle.png);
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    position: absolute;
    left: 30px;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.pokeball {
    background-image: url(./image/pokeball.png);
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    position: absolute;
    left: 93%;
}

.dodge_btn_wrapper {
    min-width: 300px;
    max-width: 700px;
    height: 86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: center;
    margin-bottom: -24px;
    margin-left: -10px;
}

.dodge_btn {
    font-size: 13px;
    width: 130px;
    text-align: center;
	display: inline-block;
    margin: 20px 0;
    font-weight: 600;
    padding: 10px 20px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
	border-radius: 7px;
    -webkit-box-shadow: 0 .2em gray;
            box-shadow: 0 .2em gray; 
}

.dodge_btn:active {
    -webkit-box-shadow: none;
            box-shadow: none;
	position: relative;
	top: .2em;
}

.dodge_btn_start_visible {
    display: none;
}

.dodge_timer {
    padding: 15px 20px 10px 5px;
    width: 130px;
    font-size: 13px;
    font-weight: 600;
    margin: 18px 0;
    background: #fff;
    border-radius: 5px;   
    margin-left: 10px;
    background: -o-radial-gradient(50% 50%,50% 50%,#374529 0,#0f140a 100%);
    background: radial-gradient(50% 50% at 50% 50%,#374529 0,#0f140a 100%);
}

.dodge_instruction {
    min-width: 300px;
    max-width: 500px;
    min-height: 80px;
    margin: 20px auto;
    padding-top: 5px;
    background-color: #fff;
    border-radius: 5px;
    background: -o-radial-gradient(50% 50%,50% 50%,#374529 0,#0f140a 100%);
    background: radial-gradient(50% 50% at 50% 50%,#374529 0,#0f140a 100%);
    z-index: 1000;
    padding-right: 5px;
}

.dodge_instruction_list {
    margin-left: 40px;
    margin-top: 5px;
}

.dodge_instruction_list_item {
    font-size: 15px;
    font-weight: 500;
}

.DodgeRecords_container {
    min-width: 300px;
    max-width: 500px;
    min-height: 80px;
    margin: 20px auto;
    padding-top: 5px;
    background-color: #fff;
    border-radius: 5px;
    background: -o-radial-gradient(50% 50%,50% 50%,#374529 0,#0f140a 100%);
    background: radial-gradient(50% 50% at 50% 50%,#374529 0,#0f140a 100%);
}

.DodgeRecords_list {
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
}

.DodgeRecords_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
}

.DodgeRecords_container {
    min-width: 300px;
    max-width: 500px;
    min-height: 80px;
    margin: 20px auto;
    padding-top: 5px;
    background-color: #fff;
    border-radius: 5px;
    background: -o-radial-gradient(50% 50%,50% 50%,#374529 0,#0f140a 100%);
    background: radial-gradient(50% 50% at 50% 50%,#374529 0,#0f140a 100%);
}

.DodgeRecords_list {
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
}

.DodgeRecords_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
}