@font-face {
    font-family: "Retro Gaming"; 
    src: url("./fonts/Retro\ Gaming.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

body {
    background-image: url(./image/mainBackground2.jpg);
    background-size: cover;
}

.main_container {
    min-height: 100vh - 80px;
}

.main_border {
    min-width: 320px;
    max-width: 700px;  
    margin: 0 auto;
}

* {
    font-family: "Retro Gaming", sans-serif;
    color: #d1fb84;
    text-shadow: 0 0 20px #d1fb84, 0 0 30px #d1fb84;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.btn {
    font-size: Min(20px, 4vw);
    text-align: center;
	display: inline-block;
    font-weight: 600;
    padding: 10px 20px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
	border-radius: 7px;
    -webkit-box-shadow: 0 .2em gray;
            box-shadow: 0 .2em gray; 
}

.btn:active {
    -webkit-box-shadow: none;
            box-shadow: none;
	position: relative;
	top: .2em;
}

